#bg-fade-carousel.carousel.slide.carousel-fade{"data-ride" => "carousel"}
  / Wrapper for slides
  .carousel-inner
    .item.active
      .slide1
    .item
      .slide2
    .item
      .slide3
    .item
      .slide4
  / .carousel-inner
  .container.carousel-overlay.text-center
    %h1 Bridges & Tunnels Maintenance & Repair
    %p.lead Special customization available upon request.
    %a.btn.btn-lg.btn-success.fp-buttons{href: "/about"}
      %span.fa.fa-book
      Learn More
    %a.btn.btn-lg.btn-success.fp-buttons{href: "#"}
      %span.fa.fa-envelope
      Contact Us
/ .carousel
