#bg-fade-carousel.carousel.slide.carousel-fade{"data-ride" => "carousel"}
  / Wrapper for slides
  .carousel-inner
    .item.active
      .slide1
    .item
      .slide2
    .item
      .slide3
    .item
      .slide4
  / .carousel-inner
  .container.carousel-overlay.text-center
    %h1 Get Kittens Free All Week Long
    %p.lead Special orders also available upon request.  Check out our pricing.
    %a.btn.btn-lg.btn-success.fp-buttons{:href => "#"}
      %span.fa.fa-dollar
      Get Pricing
    %a.btn.btn-lg.btn-success.fp-buttons{:href => "#"}
      %span.fa.fa-check
      Sign Up
/ .carousel
