%nav#navbar-main.navbar.navbar-default.transparent.navbar-static-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#navCollapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle Navigation
        %span.fa.fa-chevron-down
        %b Menu
      %a.navbar-brand{:href => "#"} Your Brand
    #navCollapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.active
          %a{:href => "#"} Home
        %li
          %a{:href => "#"} Services
        %li
          %a{:href => "#"} Projects
        %li
          %a{:href => "#"} Company
        %li
          %a{:href => "#"} Contact
