%nav#navbar-main.navbar.navbar-default.transparent.navbar-static-top{:role => "navigation"}
  .container
    .navbar-header
      %button.btn-default.navbar-toggle{"data-target" => "#navCollapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle Navigation
        %span.fa.fa-chevron-down
        Menu
      %a.navbar-brand{href: "/"} FAHE World
    #navCollapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.active
          = link_to 'Home', root_path
        %li.dropdown
          %a.dropdown-toggle{href: "#", role: "button", data: {toggle: "dropdown"}} Products
          %ul.dropdown-menu
            %li
              %a{href: "/testing"} Testing Instruments
            %li
              %a{href: "/maintenance-tools"} Maintenance Machines & Tools
            %li
              %a{href: "/repairs"} Repair Materials
        %li.dropdown
          %a.dropdown-toggle{href: "#", role: "button", data: {toggle: "dropdown"}} Services
          %ul.dropdown-menu
            %li
              %a{href: "/equipment"} Equipment Leasing
            %li
              %a{href: "/inspection"} Periodic Inspection
            %li.dropdown-submenu
              %a{href: "#"} Maintenance
              %ul.dropdown-menu
                %li
                  %a{href: "#"} Highway Maintenance
                %li
                  %a{href: "#"} Railway Maintenance
                %li
                  %a{href: "#"} Tunnel Maintenance
                %li
                  %a{href: "#"} Deck Pavement & Repair
        %li.dropdown
          %a.dropdown-toggle{href: "#", role: "button", data: {toggle: "dropdown"}} Company
          %ul.dropdown-menu
            %li
              %a{href: "/about"} About Fahe
            %li
              %a{href: "#"} In the News
            %li
              %a{href: "#"} Industry Technology
            %li
              %a{href: "#"} Careers
        %li
          %a{href: "#"} Contact
