%nav#navbar-main.navbar.navbar-default.transparent.navbar-static-top{:role => "navigation"}
  .container
    .navbar-header
      %button.btn-default.navbar-toggle{"data-target" => "#navCollapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle Navigation
        %span.fa.fa-chevron-down
        Menu
      %a.navbar-brand{:href => "#"} FAHE World
    #navCollapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.active
          %a{href: "#"} Home
        %li.dropdown
          %a.dropdown-toggle{href: "#", role: "button", data: {toggle: "dropdown"}} Products
          %ul.dropdown-menu
            %li
              %a{href: "#"} Testing Instruments
            %li
              %a{href: "#"} Maintenance Machines & Tools
            %li
              %a{href: "#"} Repair Materials
        %li.dropdown
          %a.dropdown-toggle{href: "#", role: "button", data: {toggle: "dropdown"}} Services
          %ul.dropdown-menu
            %li
              %a{href: "#"} Equipment Leasing
            %li
              %a{href: "#"} Periodic Inspection
            %li.dropdown-submenu
              %a{href: "#"} Maintenance
              %ul.dropdown-menu
                %li
                  %a{href: "#"} Highway Maintenance
                %li
                  %a{href: "#"} Railway Maintenance
                %li
                  %a{href: "#"} Tunnel Maintenance
                %li
                  %a{href: "#"} Deck Pavement & Repair
        %li
          %a{href: "#"} Company
        %li
          %a{href: "#"} Contact
