= render partial: 'carousel'

.container
  / Example row of columns
  .row.text-center
    .col-md-4
      .fa.fa-check.fa-3x.circles
      %h2 Testing Instruments
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      %p
        %a.btn.btn-default{href: "#", :role => "button"} Get the Scoop »
    .col-md-4
      .fa.fa-gear.fa-spin.fa-3x.circles
      %h2 Maintenance Tools
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      %p
        %a.btn.btn-default{href: "#", :role => "button"} More faves »
    .col-md-4
      .fa.fa-truck.fa-3x.circles
      %h2 Equipment Leasing
      %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      %p
        %a.btn.btn-default{href: "#", :role => "button"} Full Story »
  / START THE FEATURETTES
  %hr
    .row
      .col-md-7
        %h2.featurette-heading
          First featurette heading.
          %span.text-muted It'll blow your mind.
        %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      .col-md-5.text-center
        = image_tag("structures/bridge.jpg", class: "featurette-image img-responsive")
    %hr
      .row
        .col-md-7.col-md-push-5
          %h2.featurette-heading
            Oh yeah, it's that good.
            %span.text-muted See for yourself.
          %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        .col-md-5.col-md-pull-7.text-center
          = image_tag("structures/tunnel.jpg", class: "featurette-image img-responsive")
      %hr
        .row
          .col-md-7
            %h2.featurette-heading
              And lastly, this one.
              %span.text-muted Checkmate.
            %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
          .col-md-5.text-center
            = image_tag("structures/elevated.jpg", class: "featurette-image img-responsive")
        / /END THE FEATURETTES
